:root {
    --garage-bg-color: #222831;
    --garage-gray-color: #393E46;
    --garage-blue-color: #00ADB5;
    --garage-white-color: #EEEEEE;
}

* {
    padding: 0;
    margin: 0;
}

a, .nav-link {
    color: white;
}

a:hover, .nav-link:focus, .nav-link:hover {
    color: #00ADB5;
}

h1 {
    font-weight: bold;
}

.btn-primary {
    background: var(--garage-blue-color);
    border: var(--garage-blue-color);
}

header {
    background-color: var(--garage-bg-color);
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    height: 60px;
    width: 60px;
    margin-right: 1em;
}

.hero-box {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--garage-white-color);
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-box .text{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2em;
}

.hero-box .text h1 {
    text-shadow: 3px 3px black;
    color: var(--garage-white-color);
}
.form_success {
    color: #4f8a10;
    background-color: #dff2bf;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  .errors_form {
    color: #d8000c;
    background-color: #ffbaba;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }